.main { 
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-why-us {
    padding-bottom: 100px;
}

.main-testimonial {
    padding-left: 50px;
    padding-right: 50px;
}

.title-testimonial {
    text-align: center;
    padding-bottom: 30px;
}

.main-sewa {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-sewa > .card {
    background-color:#0D28A6;
    color: white;
}

.sewa h2 p {
    padding-bottom: 50px;
}