:root {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
*{
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgba(241, 243, 255, 1);

}

nav .btn {
  width: -moz-fit-content;
  width: fit-content;
}

.nav-link {
  margin-top: 6px;
  margin-right: 22px;
}

.nav-link:hover {
  font-weight: bold;
}

.offcanvas-header {
  padding-bottom: 0;
}

.offcanvas-body {
  padding-top: 0;
}

#offcanvasRight {
  width: 250px;
}

.nav-item {
  margin-right: 1em;
}

.nav-link {

  color: rgba(0, 0, 0, 0.55);
}

.nav-link:hover {
  color: rgba(0, 0, 0, 1);
}

.navbar-collapse {
  align-items: flex-end;
}

.nav-item .active {
  color: #5cb85f;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    align-items: flex-start;
  }

  .navbar-collapse ul {
    margin-left: 1rem;
  }

  .offcanvas {
    max-width: 50%;
  }

  .carousel-card {
    flex-direction: column;
  }

  .carousel-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
  }

  .carousel-image {
    margin: 1rem;
  }

  .carousel-container {
    padding-bottom: 6.5rem;
  }

  .carousel-button {
    position: absolute;
    z-index: 10;
    top: 425px;
  }
}

.main { 
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-why-us {
    padding-bottom: 100px;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-card {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f1f3ff;

  padding: 3rem;
  margin: 0 16px;

  max-width: 600px;
  border-radius: 8px;
}

.carousel-container {
  padding-bottom: 5rem;
}

.rating-stars {
  margin-bottom: 1rem;
}

.carousel-button {
  position: absolute;
  z-index: 10;
  top: 300px;
}

.carousel-button-content {
  border: 1px solid #c4c4c4;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
}

.carousel-button-content::after {
  content: none;
}

.carousel-button-content:hover {
  background-color: #5cb85f;
  border: none;
  transition: all 0.5s ease-out;
}

.carousel-button-content span.next,
.carousel-button-content span.prev {
  border: 2px solid #000;
  width: 8px;
  height: 8px;

  border-top: none;
  border-left: none;

  transform: translateX(2px) rotate(135deg);
}

.carousel-button-content:hover span {
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  transition: all 0.5s ease-out;
}

.swiper-button-prev {
  left: auto;
  right: 50% !important;
  margin: 0 1rem;
}

.swiper-button-next {
  left: 50% !important;
  right: auto;
  margin: 0 1rem;
  transform: rotate(180deg);
}

.main-sewa {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-sewa > .card {
    background-color:#0D28A6;
    color: white;
}

.sewa h2 p {
    padding-bottom: 50px;
}

.main { 
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-why-us {
    padding-bottom: 100px;
}

.main-sewa {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-sewa > .card {
    background-color:#0D28A6;
    color: white;
}

